{{/*
    You can add further theme extensions or customizations here if they should
    appear in <head>.
*/}}

{{- $desc := .Description | default .Site.Params.description -}}
{{- $title := .Title | default .Site.Title -}}
{{- $socialImage := .Site.Params.seo.socialImage | default "/images/social-preview.jpg" -}}
{{- $socialImageAbs := absURL $socialImage -}}

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $socialImageAbs }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ $socialImageAbs }}">

{{- $person := .Site.Params.person -}}
{{- if $person -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ $person.name }}",
  "jobTitle": "{{ $person.jobTitle }}",
  "email": "{{ $person.email }}",
  "url": "{{ $person.url }}",
  "description": "{{ .Site.Params.description }}",
  "sameAs": [
    {{- range $i, $link := $person.sameAs -}}
      {{- if gt $i 0 }}, {{ end -}}"{{ $link }}"
    {{- end -}}
  ]
}
</script>
{{- end -}}
